@media (prefers-reduced-motion: no-preference) {
  .logoContainer {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  background-color: white;
  /* min-height: 100vh; */
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.main > p {
  word-wrap: break-word;
  width: 90%;
}

.loginButton {
  width: 100px;
  height: 50px;
}

.loginButton > p {
  font-size: 20px;
  margin: 13px 0px;
}
