/* styles/cpsProposalsSection.module.css */
.main {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
}
.main > h2 {
  margin: 5px;
}
.textarea {
  width: 90%;
  max-width: 90%;
  min-height: 250px;
  max-height: 500px;
  display: block;
  overflow-x: auto;
  white-space: pre;
  margin-bottom: 10px;
}
.input {
  border: 2px solid green;
  border-radius: 4px;
}
.inputInvalid {
  border: 2px solid red;
}
.button {
  margin: 4px;
  height: 30px;
  width: 80px;
}
