/* styles/cpsProposalsSection.module.css */
.main {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
}
.main > h2 {
  margin: 5px;
}
.header {
}
.body {
  display: flex;
  flex-flow: row wrap;
  /* align-items: center; */
  justify-content: center;
}
.proposalContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* justify-content: center; */
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  height: 100%;
  width: 100%;
}
.proposalContainerIsWaiting {
  justify-content: center;
}
.proposalContainerComments {
  background-color: #e7e7e7;
  padding: 10px;
}
.commentSectionContainer {
  display: flex;
  flex-flow: column nowrap;
  margin: 5px 0px;
  background-color: #f8f8f8;
  padding: 5px;
}
.commentSectionContainer p {
  margin: 0px;
}
.greenBorder {
  border: 2px solid #39ff14 !important;
}
.redBorder {
  border: 2px solid #f72119 !important;
}
.yellowBorder {
  border: 2px solid #fff01f !important;
}
.imgLoading {
  height: 200px;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.imgLoadingItem {
  height: 40%;
  width: 3px;
  border-radius: 3px;
  background-color: #eb5900;
  margin-right: 3px;
  animation: wave 1s linear infinite;
}

.imgLoadingItem:nth-child(1) {
  animation-delay: 0.2s;
  height: 12%;
}
.imgLoadingItem:nth-child(2) {
  animation-delay: 0.1s;
  height: 25%;
}
.imgLoadingItem:nth-child(3) {
  /* animation-delay: 0.2s; */
}
.imgLoadingItem:nth-child(4) {
  animation-delay: 0.1s;
  height: 25%;
}
.imgLoadingItem:nth-child(5) {
  animation-delay: 0.2s;
  height: 12%;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.cardContainer {
  max-width: 300px;
  border: 2px solid #f4f4f4;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  margin: 10px;
  background: repeating-linear-gradient(
    135deg,
    #fafafa,
    #fafafa 100px,
    #f6f6f6 100px,
    #f6f6f6 200px
  );
  cursor: pointer;
}
.cardContainer > * {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  padding: 5px;
  margin: 2px;
  border-radius: 2px;
}

.cardContainer p {
  margin: 0px;
}
.cardTitle {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}
.cardStatusContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.cardStatusInfo {
  font-size: 1rem;
}
.cardStatusImage {
  margin-left: auto;
}
.cardInfo {
  font-size: 0.8rem;
}
.cardInfoItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.cardInfoItem > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cardTinyImage {
  height: 15px;
  margin-right: 10px;
}

/* devices less than 640px */
/* @media (max-width: 424.98px) { */
/* } */
